<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Folder</title>
</head>

<body>

    <form method="POST" action="/folder">
        <label for="folder">Folder name:</label>
        <input name="folder" type="text">
        <input type="submit" value="submit">
    </form>
    <ul>
        <% if (typeof folders !=="undefined" && folders.length> 0) { %>
            <% folders.forEach(function(folder) { %>

                <a href="/folder/<%= folder.id %>">
                    <li>
                        <%= folder.name %><br>


                    </li>
                </a>
                <% }) %>
                    <% } else { %>
                        <%- include("partials/errors.ejs") %>
                            <li>No folders yet</li>
                            <% } %>
    </ul>
</body>

</html>