<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Files</title>
</head>

<body>

    <ul>
        <% if (locals.folder) {%>
            <% folder.files.forEach(function(file) { %>
                <li>ID: <%= file.id %>
                </li>
                <li>Name: <%= file.name %>
                </li>
                <li>folderId: <%= file.folderId %>
                </li>
                <li>
                    createdAt: <%=file.createdAt.toLocaleString()%>
                </li>


                <% }); %>
                    <% } %>

    </ul>
</body>

</html>