@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,600');


:root {
    --small-screen: 30em;
    --medium-screen: 48em;
    --large-screen: 62.5em;
    font-family: sans-serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.changing-btn {
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 10px 10px;
    background: linear-gradient(45deg,
            #ff6b6b,
            #6c5ce7,
            #00cec9,
            #ff6b6b);

    background-size: 300% 300%;
    color: white;
    border: none;

    animation: gradientMove 6s ease infinite;
}



.welcome-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

html {
    font-size: 16px
}

html,
body {
    height: 100vh;
    min-height: 100%;
    font-size: 100%
}

#welcome {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    header {
        padding: 4rem 2rem 2rem;
        position: relative;
        z-index: 2;
        width: 100%;

        @media screen and (min-width: var(--small-screen)) {
            padding-top: 15vh
        }

        @media screen and (min-width: var(--medium-screen)) {
            padding-top: 30vh
        }

        @media screen and (min-width: var(--large-screen)) {
            max-width: 900px;
            margin-left: 5rem;
        }

        >div {
            padding-top: 2rem;
            padding-left: 2rem;
            width: 100%;
            text-align: center;
            margin: 0 0 auto;

            &:before {
                content: "";
                display: block;
                width: 2px;
                height: 3000rem;
                background: rgba(#070E14, .1);
                position: absolute;
                left: 0;
                top: 0;
            }
        }
    }

    h1 {
        color: #070E14;
        padding-left: 2rem;
        position: relative;
        letter-spacing: -2px;

        @media screen and (min-width: var(--large-screen)) {
            font-size: 50px;
        }

        svg {
            display: inline-block;
            width: .35em;
            height: .35em;
            color: #ff5507;
            fill: currentColor;

            position: absolute;
            top: 1.7vw;
            left: 0;

            @media screen and (min-width: var(--large-screen)) {
                top: 20px;
            }
        }
    }

    p {
        color: rgba(#070E14, 0.5);
        line-height: 1.45;
    }

    canvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        position: absolute;
        top: 50%;
        left: 50%;
        z-index: -1;

        transform: translate(-50%, -50%);
    }
}

button {
    display: inline-block;
    padding: 0;
    background: none;
    border: none;
    color: rgba(#070E14, 0.3);
    font-size: 12px;
    margin-right: .1em;
    cursor: pointer;

    &:hover {
        color: #ff5507
    }
}